.today__item{
    width: 342px;
    padding: 32px 32px 24px 32px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #DFE0EB;
}

.today__item:last-child{
    border-bottom: none;
}

.today__itemtitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #9FA2B4;
    margin: 0;
    padding: 0;
}

.today__itemspan{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #252733;
    margin-top: 6px;
    padding: 0;
}